/QuangLiDuAn/nbproject/private/
/QuangLiDuAn/build/
/JavaApplication7/nbproject/private/
/QuanLiCong/nbproject/private/
/QuanLiCong/build/
/QuangLi/nbproject/private/
/QuanLiBanHang/nbproject/private/
/QuanLiBanHang/build/
